controller:
  hostPort:
    enabled: true
    ports:
      http: 80
      https: 443
  
  service:
    type: NodePort
  
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  
  admissionWebhooks:
    enabled: false
